<div id="<%= dom_id run %>">
  <p>
    <strong>Name:</strong>
    <%= run.name %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= run.hours %>
  </p>

  <p>
    <strong>Miles:</strong>
    <%= run.miles %>
  </p>

  <p>
    <strong>Dateran:</strong>
    <%= run.dateRan %>
  </p>

</div>
